# Ignore temporary files produced by qhull build
library/qhull-2012.1/bin/
library/qhull-2012.1/lib/
*~
\#*#
.#*
*.swp
*.swo
*.swn
*.o
*.log
.g4cmp-version
CMakeLists.txt.user*
epositions.txt
*.png
*__pycache__*
